In [111]:
import numpy as np
import math

In [112]:
from sqlalchemy import create_engine

In [113]:
## set up data base credentials 
##
postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'dvdrentals'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user,postgres_pw, postgres_host, postgres_port, postgres_db))

Question 1. 
How many movies are released for each rating?

In [114]:
sql = ''' 
    SELECT rating, COUNT(*)AS number_of_films
    FROM film
    GROUP BY rating
    ORDER BY number_of_films DESC;
    '''
dvd_rentals = engine.execute(sql)
engine.dispose()
rows = dvd_rentals.fetchall()
for row in rows:
    print('There are {} films that are rated {} in the database'.format(
        row[1],row[0]))

There are 223 films that are rated PG-13 in the database
There are 210 films that are rated NC-17 in the database
There are 195 films that are rated R in the database
There are 194 films that are rated PG in the database
There are 178 films that are rated G in the database

Question2.What is the average rental duration for each rating?

In [115]:
sql = ''' 
    SELECT column_name, data_type
    FROM information_schema.columns
    WHERE table_name='film'
    ;
    '''
dvd_rentals = engine.execute(sql)
engine.dispose()
rows = dvd_rentals.fetchall()

print(rows)

#for row in rows:
   # print('There are {} films that are rated {} in the database'.format(
    #    row[1],row[0]))

[('film_id', 'integer'), ('title', 'character varying'), ('description', 'text'), ('release_year', 'integer'), ('language_id', 'smallint'), ('original_language_id', 'smallint'), ('rental_duration', 'smallint'), ('rental_rate', 'numeric'), ('length', 'smallint'), ('replacement_cost', 'numeric'), ('rating', 'USER-DEFINED'), ('last_update', 'timestamp without time zone'), ('special_features', 'ARRAY'), ('fulltext', 'tsvector')]

In [116]:
sql = ''' 
    SELECT rating, ROUND(AVG(rental_duration),2) AS avg_rental_time
    FROM film
    GROUP BY rating 
    ORDER BY avg_rental_time DESC
    ;
    '''
# 
dvd_rentals = engine.execute(sql)
engine.dispose()
rows = dvd_rentals.fetchall()


for row in rows:
    print('For movies rated {} the average rental duration was {} days'.format(
        row[0],row[1]))

For movies rated NC-17 the average rental duration was 5.14 days
For movies rated PG the average rental duration was 5.08 days
For movies rated PG-13 the average rental duration was 5.05 days
For movies rated G the average rental duration was 4.84 days
For movies rated R the average rental duration was 4.77 days

Question 3. What is the mean movie length? Calculate this by defining a function.

In [117]:

film_data = engine.execute('SELECT COUNT(*),SUM(length) FROM film;')
engine.dispose()
film_info = film_data.first()
num_film = film_info[0]
tot_len_film = film_info[1]

mean_film_length = (tot_len_film/num_film)

print('The average film lenght is {}'.format(mean_film_length))

The average film lenght is 115.272

What is the median movie length? Calculate this by defining a function.

In [132]:
def median(numbers):
    numbers.sort()
    length = len(numbers)
    isEven = length % 2 == 0
    
    if (isEven):
        mid = math.floor(length / 2)
        a = numbers[mid]
        b = numbers[mid + 1]
        answer = (a+b)/2
    else:
        answer = numbers[math.floor(length/2)]
    return answer

sql = '''
    SELECT 
        length 
    FROM 
        film;
    '''
film_lengths = engine.execute(sql)
engine.dispose()

rows= film_lengths.fetchall()


lengths =  [ x ['length']for x in rows]

print('The median film length is {}'.format(median(lengths)))

The median film lenght is 114.0

Question 5.Calculate the standard deviation of the movie lengths. Calculate this by defining a function.

In [143]:
def stdev(numbers):
        X_bar = np.mean(numbers)
        N = len(numbers)
        total_sum = 0
        for X in numbers:
            diff = X-X_bar
            squared = diff**2
            total_sum += squared
        sigma = math.sqrt(total_sum / (N-1))
        return sigma
    
    
print('The standard deviation of film length is {}'.format(stdev(lengths)))

The standard deviation of film length is 40.42633181855988